
<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">AtomBundles &trade; </h3>
          <nav class="nav nav-masthead">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">JavaScript</a>
            <a class="nav-link" href="#">[Add New]</a>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Boost Atom Development</h1>
        <p class="lead">AtomBundles &trade; are an easy copy&paste list of packages to pack every supported package you need for your favorite programming language</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>

        <div class="btn-group btn-group-justified" role="group">
          <button type="button" class="btn btn-secondary">Typescript</button>
          <button type="button" class="btn btn-secondary">Markdown Preview</button>
          <button type="button" class="btn btn-secondary">TreeView</button>
          <button type="button" class="btn btn-secondary">Time Cop</button>
          <button type="button" class="btn btn-secondary">Snippets</button>
          <button type="button" class="btn btn-secondary">Markdown to PDF</button>
          <button type="button" class="btn btn-secondary">Typescript</button>
          <button type="button" class="btn btn-secondary">Platformio-Ide-terminal</button>
        </div>

      </div>

      <div class="mastfoot">
        <div class="inner">
          <h1>
            {{title}}
          </h1>
          <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </div>

    </div>

  </div>

</div>
