<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <a class="navbar-brand" href="#">AtomBundles&trade;</a>
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/lirantal/atombundles">GitHub</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://atom.io/packages">Atom.io</a>
      </li>
      <li class="img-right">
        <a href="https://github.com/IdanCo">
          <img class="img-responsive img-circle" src="/assets/idancohen-avatar.jpg" width="50" />
        </a>
      </li>
      <li class="img-right">
        <a href="https://github.com/lirantal">
          <img class="img-responsive img-circle" src="/assets/lirantal-avatar.jpg" width="50" />
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead mt-2">Boost <a href="http://atom.io">Atom</a> development with</p>
    <h1 class="display-3">AtomBundles</h1>
    <p class="lead mt-2">
      A curated list of favorite programming packages.
    </p>
    <p class="lead mt-2">
      Easily install packages to fully complement your favorite programming platform and development experience.
    </p>
    <li class="list-group-item list-group-item-info">
        <strong>Help us out</strong> by opening a <a href="https://github.com/lirantal/atombundles">Pull-Request</a> and updating <i><strong>src/app/bundles.js</strong></i> with your own suggested bundle packages.
    </li>
  </div>

</div>

<div class="container bundles">
  <div class="card bundle" *ngFor="let bundle of bundlesList.bundles">
    <div class="card-block bundle-header" (click)="bundle.expand = !bundle.expand">
      <h4 class="card-title text-primary">{{ bundle.prettyName }}</h4>
      <p class="card-text">{{ bundle.description }}</p>
    </div>
    <div class="card-block bundle-details" [ngClass]="{'expanded': bundle.expand}">
      <p class="card-text text-muted test-small">Open a terminal and issue the following command for Atom's package manager to install:</p>
      <div class="row">
        <div class="col-xs-9">
          <kbd class="card-text px-1 py-2" #packagesInstall>
            $ apm install&nbsp;
            <span class="package" *ngFor="let package of bundle.packages; let i = index">
              <span class="remove-package" [hidden]="!bundle.customize" (click)="bundle.packages.splice(i, 1)"><img src="../assets/remove.png"/></span>
              <a href="https://atom.io/packages/{{package.name}}">{{package.name}}</a>
            </span>
          </kbd>
        </div>
        <div class="col-xs-3">
          <button type="button" class="btn btn-outline-primary btn-block" [ngIIclipboard]="packagesInstall">Copy</button>
          <button type="button" (click)="bundle.customize = !bundle.customize" class="btn btn-outline-info btn-block">Customize</button>
        </div>
      </div>

    </div>
    <div class="card-footer text-muted text-xs-right">
      2 days ago
    </div>
  </div>
</div>
